@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Jessica Holt";

}

<nav>
    <a asp-controller="Blah" asp-action="Index">Home</a>
    <a asp-controller="Blah" asp-action="Grade">Grade</a>
</nav>

<!--header with my preferred name-->
<h1>Jessica Holt</h1>
<img src="img/IMG_3328.jpg" />
<!-- paragraph about what I hope to get out of this course-->
<p>I would love to be comfortable with the whole process of ASP.Net so that I don't feel like I'm drowning when I get an internship or full time job in the future!:)</p>
<br />
<!--list of top jobs I want upon graduation ;) -->
<p>Top #3 jobs I am most interested in pursuing when I graduate:</p>
<ul>
    <li>Database Administrator/ Soccer Mom</li>
    <li>Model</li>
    <li>NFL Football Head Coach</li>
</ul>



