<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <meta charset="utf-8" />
    <title>My very incredible website</title>
    <!--Gotta add bootstrap at the top so it applies-->
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- add icon link -->
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/3786/PNG/96/flower_plant_nature_rose_icon_232532.png"
          type="image/x-icon">


</head>
<body>


    
    <div>
        @RenderBody()
    </div>

    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/jquery/jquery-3.6.3.min.js"></script>

</body>
</html>
